* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* font-family: 'Space Mono', monospace; */
html {
  font-size: 62.5%;
}

body{
  background-color:  hsl(185, 41%, 84%);
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
font-family: 'Space Mono', monospace;

}


.container {
}
.main_item {
  width: 470px;
  height: 200px;
  background-color: white;
  display: flex;
}
.calculator__left_item {
  padding: 1.2rem 1.4rem;
  width: 50%;
  background-color: blueviolet;
}
.Bill_title {
  padding-top: 2rem;
  
}
.input_bill{
  border-radius: 0.5rem;
  border: none;
cursor: pointer;
width: 26rem;
height: 2.5rem;
background-color:  hsl(185, 41%, 84%);
 
}

.input_bill:hover{
  border: 2px solid hsl(172, 67%, 45%);
  
}

.select_title {
  padding-top: 1.7rem;
 font-weight: 600;
 font-size: 1rem;
}
.selects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  
}
.select_btns {
  width: 8rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  border: none;
background-color: hsl(183, 100%, 15%);
cursor: pointer;
}

.select_btns:hover{
  background-color:  hsl(172, 67%, 45%);
}

.number_input{
width: 8rem;
border-radius: 0.5rem;
border: none;
cursor: pointer;

}

.number_input:hover{
  border: 2px solid hsl(172, 67%, 45%);
}

.Number_people {
}
.calculator__right_item {
width: 50%;
background-color: aquamarine;
}

.tip_amount {
}
.tip_title {
}
.person_span {
}
.Total_number {
}
.total_title {
}
.reset_btn {
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
